---
import Layout from '../layouts/Layout.astro';
import * as m from '../paraglide/messages';
import { languageTag } from '../paraglide/runtime';
---

<Layout title={m.homePageTitle()}>
  <h1>{m.homePageHeading()}</h1>
  <p>{m.homePageContent({ languageTag: languageTag() })}</p>
</Layout>
