---
import Layout from '../../../layouts/Layout.astro';
import * as m from '../../../paraglide/messages';

// Use this is you want to statically generate pages (output: 'server' in astro.config.mjs)
// import { availableLanguageTags } from '../../paraglide/runtime';
// export function getStaticPaths() {
//   return availableLanguageTags.map((lang) => ({ params: { lang } }));
// }
---

<Layout title={m.loginTitle()}>
  <h1>{m.loginHeading()}</h1>
</Layout>
